# Python
__pycache__/
*.py[cod]
*.so
.pytest_cache/
.ruff_cache/

# Distribution
dist/
build/
*.egg-info/

# Virtual Environment
.venv/
venv/
env/

# VS Code and IDEA
.vscode/
.idea/

# CircuitPython / Local Config
settings.toml
.env
adhoc
foo.*
CIRCUITPY*

